@font-face{
  font-family: 'Harry Potter';
  src: url('Fontes/Harry Potter.TTF') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Parselto' ;
  src: url('Fontes/Parselto.TTF' ) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Lumos';
  src: url('Fontes/Lumos.TTF') format('truetype');
}